@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
:root {
  --primary: #1e1e1e;
  --point: #de5126;
  font-family: "Anton", sans-serif;
}
body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
ul,
li,
dl,
dt,
dd,
p,
span,
h3,
h2 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: wavy;
}
ul,
li {
  list-style: circle;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#test {
  max-width: 1500px;
}

#test .test123 .keepgoing {
  display: flex;
  transform: translateX(0);
  animation: test 10s linear infinite;
}
#test .test123 .test_list {
  display: flex;
  gap: 100px;
  padding-right: 100px;
}
#test .test123 .test_list .test_item {
  font-weight: 400;
  font-size: 100px;
  line-height: 100%;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px var(--point);
  background: linear-gradient(to top, var(--point) 50%, transparent 50%);
  background-size: 200% 200%;
  background-position: top;
  background-clip: text;
  transition: background-position 0.3s ease;
}
#test .test123 .test_list .test_item:hover {
  background-position: right;
}
@keyframes test {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1022.5px);
  }
}
