body {
  background-color: #eee;
}

svg {
  width: 100%;
  height: 500;
  font-size: 150px;
  animation: stroke 6s alternate;
  fill: rgba(255, 87, 34, 1);
  font-weight: bold;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    fill: rgba(255, 87, 34, 0);
    stroke: rgba(255, 193, 7, 1);
    stroke-width: 2;
  }
  70% {
    fill: rgba(255, 87, 34, 0);
    stroke: rgba(255, 193, 7, 1);
  }
  80% {
    fill: rgba(255, 87, 34, 0);
    stroke: rgba(255, 193, 7, 1);
  }
  100% {
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    fill: rgba(255, 87, 34, 1);
    stroke: rgba(255, 193, 7, 0);
    stroke-width: 0;
  }
}
